{% extends "template.twig" %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <h2>First Team</h2>
        </div>

        <div class="row">
            <div class="col">
                <h4>Manager</h4>
            </div>
            <div class="col">
                <h4>Richard Ryan</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Home Kit</h4>
            </div>
            <div class="col">
                <h4>Red Shirts, Black Shorts</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Away Kit</h4>
            </div>
            <div class="col">
                <h4>Grey Shirts, Grey Shorts</h4>
            </div>
        </div>

        <hr/>

        <div class="row">
            <h2>Fixtures & Results</h2>
        </div>

        <div class="row">
            <div class="col-sm">
                <table class="table table-striped table-dark">
                    <tbody>
                    {% for fixture in fixtures %}
                        <tr class="table-{{ resultParser.color(fixture) }}">
                            <td>{{ fixture.date }}</td>
                            <td>{{ fixture.time }}</td>
                            <td align="right">{{ fixture.home }}</td>
                            <td align="center">vs</td>
                            <td>{{ fixture.away }}</td>
                            <td>{{ fixture.result }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}